.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 10px;
    color: darkslategrey;
    border-width: 0;
    border-bottom: 4px solid darkslategrey;
}

.title_container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}