.main {
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    margin-right: 0;
    display: flex;
}

.form {
    margin-right: 25vw;
    display: flex;
}