* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.post-enter {
    transform: translateX(-1500px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 200ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-1500px);
    transition: all 200ms ease-in;
}

.post__btns {
    display: flex;
}

.remove-btn {
    margin-right: 0.5rem;
}

.page__wrapper {
    margin: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    border-radius: 5px;
    cursor: pointer;
}

.page__current {
    border: 3px solid red;
    font-weight: bold;
}

.list_title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 5px 10px;
    color: darkslategrey;
    border-width: 0;
    border-bottom: 4px solid darkslategrey;
}

.list_title_container {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.center {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.point_textarea {
    width: 100%;
    overflow: hidden;
    resize: none;
    outline: none;
    height: 50px;
    padding: 15px;
    margin: 15px 5px;
    border-width: 0;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 14px;
}