.comment_list {
    margin-bottom: 35px;
}

.comment_list_title{
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    color: #1b3124;
    border-width: 0;
    border-bottom: 2px solid gray;
}

.commentsPage_main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.auto_height{
    width: 100%;
    min-width: 500px;
    font-size: 22px;
    padding-bottom: 10px;
    overflow: hidden;
    resize: none;
    outline: none;
    border-width: 0;
    border-bottom: 2px solid gray;
    background: #ececec;
}

.center{
    margin: 20px;
    display: flex;
    justify-content: center;
}