.navbar_btn{

    padding: 5px 10px;
    color: teal;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    border-width: 0;
}
.navbar_btn_active{
    font-weight: bold;
    padding: 5px 10px;
    color: teal;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    border-width: 0;
    border-bottom: 2px solid teal;
}

.navbar_btn_exit{
    padding: 5px 10px;
    color: teal;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    border-width: 0;
    border-radius: 5px;
}

.navbar_btn_exit:hover{
    background: #498c66;
    color: #FFFFFF;
}
