.exit_btn {
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}

.navbar {
    position: sticky;
    top: 0;
    background: #f1f3f5;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}